body{
	margin: 0;
}
.Grid {
  display: flex;
}

.Grid-cell {
  background-color: #f4f3f0;
  text-align: center;
  flex: 1;
  border: 1px solid black;
  margin: 5px;
}
.Grid .half{
	flex: 0 0 50%;
}
.Grid .third{
	flex: 0 0 40%;
}